<!-- <div>
  map works!
  {{lat}}, {{lng}}, {{zoom}}
</div> -->
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
  >
  <agm-marker 
    [latitude]="lat"
    [longitude]="lng"
    [label]="'T'"
    [markerDraggable]="false"
    [iconUrl]="icon">
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
  </agm-marker>
  <agm-rectangle
        [north]="lat - 0.0003"
        [east]="lng + 0.0003"
        [south]="lat + 0.0003"
        [west]="lng - 0.0003"
        [fillColor]="'red'"
        [editable]="false"
      >
      </agm-rectangle>
</agm-map>