<!-- <div>
  map works!
  {{lat}}, {{lng}}, {{zoom}}
</div> -->
<!-- (mapClick)="mapClicked($event)" -->
<agm-map
  (centerChange)="onMapCenterChange($event)"
  [latitude]="mapModel.lat"
  [longitude]="mapModel.lng"
  [zoom]="mapModel.zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  [streetViewControl]="false"
  [usePanning]="true"
  >
  <agm-marker 
    [latitude]="mapModel.lat"
    [longitude]="mapModel.lng"
    [markerDraggable]="false"
    [iconUrl]="icon">
    <agm-info-window>
      <!-- <strong>InfoWindow content</strong> -->
      <div style="
      width: 180px;
      height: 100px;
      display: grid;
      grid-template-rows: 50px 50px;
      grid-template-columns: 90px 90px;
  
  ">
        <div style="
        /* grid-row: 1/2; */
        grid-row-start: 1;
        grid-column: 1;
        grid-row-end: 3;
    
    ">img</div>
        <div style="
        grid-row: 1;
        grid-column: 2;
    ">text</div>
        <div style="
        grid-row: 2;
        grid-column: 2;
    ">text</div>
      </div>
    </agm-info-window>
  </agm-marker>
  <agm-marker 
    [latitude]="37.551171"
    [longitude]="126.9877188"
    [label]="'T'"
    [markerDraggable]="false">
    <agm-info-window>
      <strong>Catched area</strong>
    </agm-info-window>
  </agm-marker>
  <agm-rectangle
        [north]="37.551171 - 0.0003"
        [east]="126.9877188 + 0.0003"
        [south]="37.551171 + 0.0003"
        [west]="126.9877188 - 0.0003"
        [fillColor]="'red'"
        [editable]="false"
        [clickable]="true"
        [draggable]="false" 
      >
      </agm-rectangle>
</agm-map>