<!-- <div>
  map works!
  {{lat}}, {{lng}}, {{zoom}}
</div> -->
<agm-map
  [latitude]="mapModel.lat"
  [longitude]="mapModel.lng"
  [zoom]="mapModel.zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  [streetViewControl]="false"
  (mapClick)="mapClicked($event)"
  [usePanning]="true"
  >
  <agm-marker 
    [latitude]="mapModel.lat"
    [longitude]="mapModel.lng"
    [label]="'T'"
    [markerDraggable]="false"
    [iconUrl]="icon">
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
  </agm-marker>
  <agm-rectangle
        [north]="37.551171 - 0.0003"
        [east]="126.9877188 + 0.0003"
        [south]="37.551171 + 0.0003"
        [west]="126.9877188 - 0.0003"
        [fillColor]="'red'"
        [editable]="false"
      >
      </agm-rectangle>
</agm-map>